## Numbers in Right Triangle Shape

In [3]:
n = int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter the number of rows: 6
1
12
123
1234
12345
123456

In [4]:
n = int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
    print()

Enter the number of rows: 7
1
22
333
4444
55555
666666
7777777

## Stars in Hollow Right Triangle Shape - Left Down

In [32]:
n = int(input("Enter the number of rows:"))

# Because rows and columns are going to same, so this is why both range is going 0 to n
for row in range(n):
    for col in range(n):
        if col==0 or row==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
            
    print()

Enter the number of rows:10
*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *
**********

In [27]:
n = int(input("Enter the number of rows:"))

# Because rows and columns are going to same, so this is why both range is going 0 to n
for row in range(n):
    for col in range(n):
        if col==0 or col==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
            
    print()

Enter the number of rows:10
*        *
**       *
* *      *
*  *     *
*   *    *
*    *   *
*     *  *
*      * *
*       **
*        *

## Stars in Hollow Right Triangle Shape - Right Up

In [35]:
n = int(input("Enter the number of rows:"))

# Because rows and columns are going to same, so this is why both range is going 0 to n
for row in range(n):
    for col in range(n):
        if row==0 or col==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
            
    print()

Enter the number of rows:10
**********
 *       *
  *      *
   *     *
    *    *
     *   *
      *  *
       * *
        **
         *

## Printing Numbers in Right Triangle Shape

In [43]:
n = int(input("Enter the number of rows: "))
num = 1
for row in range(1,n+1): # this is for rows
    for col in range(1,row+1): # this is for col
        print(num,end='')
        num=num+1
    print()

Enter the number of rows: 6
1
23
456
78910
1112131415
161718192021

## Printing Strings in Right Triangle Shape

In [50]:
string = input("Enter the string: ")
length = len(string)
for row in range(length):
    for col in range(row+1):
        print(string[col],end="")
    print()

Enter the string: python
p
py
pyt
pyth
pytho
python